/* a réécrire pour que la carte soit jolie (texte avec background blanc par défaut) */
.qwik-restaurant-background{
    background: #FFFFFF;
}


.qwik-restaurant-level{
    line-height: 40px;
    margin:0 0 5px;
}

.qwik-restaurant-level1{
    font-size: 31.5px;
    border-bottom: 1px solid #000;
}
.qwik-restaurant-level2{
    font-size: 25.5px;
}

.qwik-restaurant ul{
    list-style: none;
    margin: 0 0 0 10px;
}

.qwik-restaurant-plats {
    padding-bottom:20px;
}
.qwik-restaurant-plat {
    line-height:1.2;
    margin:-.9em 0 0 0;
    position:relative;
    float:left;
    /* Pour que ca prenne bien toute la largeur, et donc que le prix soit à droite*/
    width:100%;
    text-align:left;
    border-bottom:1px dotted #000;
    clear:both;
}
.qwik-restaurant-price {
    padding:1px 0 1px 5px;
    position:relative;
    /* pour que le texte soit bien aligné sur les points*/
    top:.4em;
    left:1px;/* ie rounding error*/
    float:right;
}
.qwik-restaurant-title {
    margin:0;
    position:relative;
    top:1.6em;
    padding:0 5px 0 0;
    font-weight: bold;
}
.qwik-restaurant-description{
    font-weight: normal;
    font-style: italic;
}
.qwik-restaurant-text {
    /* 40 px à droite pour laisser la place au prix*/
    padding:0 40px 0 0;
    margin:0;
}
.qwik-restaurant-plats-after{
    clear:both;
    margin-bottom: 20px;;
}
.qwik-restaurant-level-description{
    font-style: italic;
}
