{% extends "_base.html.twig" %}

{% block title %}{{ page.title }}{% endblock %}

{% block head %}
	 <!-- Bootstrap -->
	<link href="{{ asset('/qwik/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">

    <!-- Site -->
    <link rel="stylesheet" href="{{ asset('/q/templates/style.css') }}" type="text/css" media="screen, projection">

{% endblock %}

{% block body %}

	{% include "templates/top.html.twig" %}

	<div class="container">
	    <div class="row">
		    <div class="span12">{{app.qwik_zone_generator.render(page,'zone1')}}</div>
	    </div>
	</div>

	{% include "templates/bottom.html.twig" %}

{% endblock %}
