
/*
vert foncé: 44A729
vert clair: 91BD10
jaune: C8D200
gris: 55544B
*/

span.qwik-restaurant-background{
    background: #FFFFFF;
}

body{
    color:#55544B;
	font-family: Calibri, "Helvetica Neue", Arial, Helvetica,sans-serif;
    background-color:#E0E670;
}

#header{
    /*background-color:#7B7B7B;*/
    background-color: #FFFFFF;
}

#menu{
    background-color:#44A729;
    padding: 10px 0px;
    margin-bottom:20px;
    border-bottom: 5px solid #91BD10;
}

#menu ul {
    margin: 0 ;
    padding: 0 ;
    list-style: none ;
}
#menu li {
    /*color: #DAFA03;*/
    color:#FFFFFF;
    display: inline;
    margin-right: 1px;
    padding-top:3px;
}
#menu li a {
    /*color: #DAFA03;*/
    color:white;
    margin: 4px 20px 4px 0px;
    text-decoration: none ;
}
#menu li a:hover {
    text-decoration:underline;
}
#menu .changeLanguage{
    text-align:right;
}
#menu .changeLanguage li a {
    color: #FFFFFF;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a{
    color: #44A729;
}
a:hover{
    color: #55544B;
    text-decoration: underline;
}

/*Contenu au milieu*/
.main{
    background-color: #FFFFFF;
    padding:20px;
    margin-top:20px;
    border: 5px solid #91BD10;
    min-height: 500px;
}
