<ul>
    {% for lang in page.getSite().getLanguages() %}
        {% if locale() != lang %}
            <li><a href="{{ app.getbaseUrl() }}{{ lang }}/{{ page.getUrl() }}">{{ lang }}</a></li>
        {% endif %}
    {% endfor %}
</ul>