<ul class="qwik-menu">
{% for menuPage in site.pages %}
	{% if menuPage.isHidden() == false %}
		<li><a href="{{ site.getBaseUrl() }}{{ locale }}/{{ menuPage.url }}">{{ menuPage.title }}</a></li>
	{% endif %}
{% endfor %}

</ul>