Pour vos réunions professionnelles ou buffets privés, découvrez notre carte <strong>« Business Lunch »</strong>.
Nous vous y proposons un assortiment de sandwiches garnis, salades variées et desserts gourmands.

Consultez également notre carte <a href="{{ app.url_generator.generate('page',{'pageName':'traiteur'}) }}">Traiteur</a> pour une ambiance plus élégante ou festive.
N’hésitez pas à nous contacter pour établir ensemble le menu le mieux adapté à votre événement.
<br />
<br />
<div  class="download-folder-image">
    <a href="{{ asset('/q/upload/Business_Lunch_Folder.pdf') }}" target="_blank"><img style="border:1px dotted #55544B;" title="Télécharger la carte" alt="Télécharger la carte" src="/q/upload/business_mini.png" /></a>
</div>
