<div class="alert alert-success take-away-intro">
    Le comptoir à emporter est ouvert de <strong>10.30 à 14.30</strong><br />
    Commandes possibles par téléphone <strong>avant 11.45</strong> au <strong>02/653.10.33</strong><br />
    Pour vos réunions professionnelles ou  buffets privés, consultez notre carte <a href="{{ path('page',{'pageName':'business'}) }}">« business lunch »</a>.
</div>

<div class="download-folder-text">
    <a href="{{ asset('/q/upload/seat_a_emporter_web.pdf') }}" target="_blank">Télécharger la version PDF</a>
</div>
