    <div class="container">
        <div class="row">
            <div class="span4"><a href="/"><img src="{{ app.getBaseUrl }}q/templates/images/logo_small.png" /></a></div>
            <div class="span7" id="menu">{% include "_menu.html.twig" %}</div>
        </div>
    </div>