    <div id="header">
        <div class="container">
            <img src="{{ app.getBaseUrl }}q/templates/images/logo_small.png" />
        </div>
    </div>

	<div id="menu">
	    <div class="container">
		    <div class="row">
		        <div class="span10">{% include "_menu.html.twig" %}</div>
		        <div class="span2 pull-right">
		            <div class="changeLanguage">
		                {% include "_languages.html.twig" %}
		            </div>
		        </div>
		    </div>
	    </div>
	</div>