<!DOCTYPE html>
<html lang="{{ app.locale }}">
<head>
    {% include "_head.html.twig" with {'page':page} %}
    {% block head %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% for asset in app['qwik.module'].getAssets(page, 'javascript') %}
    <script src="{{ asset(asset.getSourceRoot()) ~ '/' ~ asset.getSourcePath() }}"></script>
{% endfor %}



{#inclusion de Google Analytics en fin de page #}
{% if page.getSite().getGoogleAnalytics() != '' %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ page.getSite().getGoogleAnalytics() }}']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
{% endif %}
</body>
</html>

