<ul>
    {% for lang in page.getSite().getLanguages() %}
        {% if locale() != lang %}
            <li><a href="{{ path('page', {'pageName':page.getUrl(), '_locale':lang}) }}">{{ lang }}</a></li>
        {% endif %}
    {% endfor %}
</ul>