<ul>
    {% for lang in page.getSite().getLanguages() %}
        {% if app.locale != lang %}
            <li><a href="{{ pathTo(page.getUrl(), lang) }}">{{ lang }}</a></li>
        {% endif %}
    {% endfor %}
</ul>