<ul class="qwik-menu">
{% for menuPage in page.getSite().pages %}
	{% if menuPage.isHidden() == false %}
		<li><a href="{{ path('page', {'pageName':menuPage.getUrl()}) }}"{% if page.getUrl() == menuPage.getUrl() %} class="selected"{% endif %}>{{ menuPage.getTitle() }}</a></li>
	{% endif %}
{% endfor %}

</ul>
